@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: v.$primary_font;
}

p {
    font-size: 1.2rem;
}

a {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.3rem;
}