//Tipografia
$primary_font: 'Montserrat', sans-serif;

//Colores
$primary: #ffffff;
$secondary: #000000;
$terciary: #d3d3d3;
$blue: #0000ff;
$lightBlue: #add8e6;

//Tamaños Media Queries
$phone: 480px;
$tablet: 780px;
$desktop: 992px;
$desktopXL: 1200px;