//Botón filtro
#btnOpenFilter {
    align-items: center;
    background-color: blue;
    border: none;
    border-radius: 0.3rem;
    bottom: .5rem;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    height: 1.8rem;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    left: 35%;
    width: 30%;
    z-index: 5;
    img {
        filter: invert(1);
    }
}

