//Menú filtros
.sombrear {
    opacity: .5;
}

.filter {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s ease-in-out, opacity .5s linear;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    
    fieldset {
        background-color: white;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;

        legend {
            background-color: white;
            border: 1px solid lightgrey;
            border-radius: .3rem;
            display: flex;
            height: 2.2rem;
            justify-content: center;
            margin-left: 85%;
            width: 2.2rem;
            button {
                align-items: center;
                background-color: white;
                border: none;
                display: flex;
                justify-content: center;
                width: 90%;
                img {
                    width: 120%;
                }
            } 
        }

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 1rem 1rem 1rem;
        }
        
        .filterOptions {
            border-top: 1px solid lightgrey;
            display: flex;
            justify-content: space-between;
            margin: 0 1rem 1rem 1rem;
            padding-top: 1rem;
            .checkboxes {
                width: 10%;
            }
        }
        .filterOptionsLast {
            border-bottom: 1px solid lightgrey;
            padding-bottom: 1rem;
        }
    
        .filter-btns {
            background-color: lightgrey;
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            .btnCleanForm {
                align-items: center;
                border: none;
                border-radius: 0.3rem;
                bottom: 0.2rem;
                display: flex;
                font-weight: bold;
                justify-content: center;
                height: 1.8rem;
                text-align: center;
                text-transform: uppercase;
                width: 35%;
            }
            .btnFilterForm {
                align-items: center;
                background-color: blue;
                border: none;
                border-radius: 0.3rem;
                bottom: 0.2rem;
                color: white;
                display: flex;
                font-weight: bold;
                justify-content: center;
                height: 1.8rem;
                text-align: center;
                text-transform: uppercase;
                width: 35%;
                img {
                    filter: invert(1);
                }
            }
        }    
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
}
    