@use '../base/variables' as v;
@use '../base/mixins' as m;

//Filter
.sombrear {
    opacity: .5;
}

.filter {
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: -375px; 
    
    fieldset {
        background-color: v.$primary;
        border: none;
        margin: 0;
        padding: 0;

        legend {
            background-color: v.$primary;
            @include m.borderBoxes;
            display: flex;
            height: 2.2rem;
            justify-content: center;
            margin-left: 85%;
            width: 2.2rem;
            button {
                align-items: center;
                background-color: v.$primary;
                border: none;
                display: flex;
                justify-content: center;
                width: 90%;
                img {
                    width: 120%;
                }
            } 
        }

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 1rem 1rem 1rem;
        }
        
        .filterOptions {
            border-top: 1px solid v.$terciary;
            display: flex;
            justify-content: space-between;
            margin: 0 1rem 1rem 1rem;
            padding-top: 1rem;
            .checkboxes {
                width: 10%;
            }
        }
        .filterOptionsLast {
            border-bottom: 1px solid v.$terciary;
            padding-bottom: 1rem;
        }
    
        .filter-btns {
            background-color: v.$terciary;
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            .btnCleanForm {
                align-items: center;
                border: none;
                border-radius: 0.3rem;
                display: flex;
                font-weight: bold;
                height: 1.8rem;
                justify-content: center;
                line-height: 0;
                text-align: center;
                text-transform: uppercase;
                width: 8rem;
            }
            .btnFilterForm {
                align-items: center;
                background-color: v.$blue;
                border: none;
                border-radius: 0.3rem;
                color: v.$primary;
                display: flex;
                font-weight: bold;
                height: 1.8rem;
                justify-content: center;
                line-height: 0;
                text-align: center;
                text-transform: uppercase;
                width: 8rem;
                img {
                    filter: invert(1);
                }
            }
        }    
    }
}

.mostrar {
    animation-name: mostrar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @keyframes mostrar {
        from {bottom: -375px;}
        to {bottom: 0rem;}
    }
}

.ocultar {
    animation-name: ocultar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    @keyframes ocultar {
        from {bottom: 0rem;}
        to {bottom: -375px;}
    }
}
    